:root {
    --color-50: #F0F4FE;
    --color-100: #DDE7FC;
    --color-200: #C2D5FB;
    --color-300: #98BAF8;
    --color-400: #6796F3;
    --color-500: #4471ED;
    --color-600: #244AE0;
    --color-700: #263FCF;
    --color-800: #2535A8;
    --color-900: #23318E;
    --color-950: #1A2151;
}